*{
    margin:0;
    padding: 0;
    
}
#navbar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 30px;
    padding: 1%;
}
a{
    color: white;
    text-decoration: none;
}

input, select{
    display: block;
    margin: 15px 0px;
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 5px;
}
#box{
    border: 1px solid salmon;
    margin: auto;
    width: 30%;
    margin-top: 60px;
    background-color: white;
    
}
#subbtn{
    background-color: black;
    color: white;
    border-radius: 25px;
    justify-content: center;
    width: 40%;
    height: 35px;
    margin: auto;
}

